.list-container {
  text-align: center;
}
#navbar {
  background-color: "#2471a3";
  color: white;
}
Nav a,
#basic-nav-dropdown {
  color: white;
  margin-right: 10px;
  margin-top: 10px;
}
Nav a:hover,
#basic-nav-dropdown :hover {
  border-bottom: solid white 3px;
  text-decoration: none;
  color: white;
}
#basic-nav-dropdown {
  margin-right: 0px;
  margin-top: 0px;
}
a.dropdown-item:hover {
  background-color: #2471a3;
  color: white;
}

#searchbar {
  width: 300px;
  padding: 10px;
  border: 0px;
}

#non {
  color: black;
}
#non:hover {
  color: white;
  text-decoration: none;
}
