#downpart{
    border-top:solid #2471a3 10px;
    ;
    
}
#fname{
    margin-top: 25px;
    

}
#lname{
    margin-top: 10px;
   
}
#h1{
    font-size: 15px;
}
#h2{
    font-size: 15px;
    
    

}
